<h3>Hey, {{username}}!</h3>

You successfully logged-in \o/

<form action="/success" method="post">
    <input name="username" id="username" type="text" placeholder="Your username" />
    <input name="money" id="money" type="text" placeholder="Your money"/>
    <input type="submit" />
</form>